html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1efff;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


.custom-btn {
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 50px;
    background-color: #0056b3;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.custom-btn:hover {
    background-color: #0056b3;
    color: white;
    transform: none;
}

.room-card .card-img-top {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.room-card .card-title { min-height: 2.8rem; }
.room-card .card-text  { min-height: 5.6rem; }
